.bottomLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  padding: 1.5rem 0;

//   @media screen and (min-width: 720px) {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//   }
}
