.bg {
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.navBottom {
  background-color: $color-dark;
  width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  @media screen and (max-width: 720px) {
    flex-direction: column;
    width: 100vw;
  }
  @media screen and (max-width: $bp-single-column) {
    width: 50rem;
  }
  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media screen and (max-width: 720px) {
      margin: 1rem 0rem;
    }
    a {
      text-decoration: none;
      &:active,
      &:after,
      &:visited {
        text-decoration: none;
        color: $color-light;
      }
    }
    h1 {
      color: $color-light;
      @media screen and (max-width: $bp-decrease) {
        margin: 0 1rem;
      }
    }
    &_image {
      width: auto;
      margin: 0 2.5rem;
      @media screen and (max-width: $bp-decrease) {
        margin: 0 1rem;
      }
      height: 2rem;
    }
  }
}
